{% extends 'foodsharing/index.html' %}
    {% block content %}
   
  <div class="row content">
    <!-- LeftFrameContent -->        
    <div class="col-sm-2 sidenav">
            
      {% for sup in supplies %}      
      <div class="share-wrap">
 
          <a href="{% url 'supply' pk=sup.pk %}">{{ sup.date }}</a>

          <p class="share-adress">{{sup.latitude}} {{sup.longitude}}</p>     
          
          <div class="share-owner">
              {{ sup.source.name }}
          </div>

           <a data-toggle="modal" href="#myModal{{sup.pk}}">Хочу забрать</a>
           <!--<button type="button" class="btn btn-info btn-lg" id="myBtn{{sup.pk}}">Open Modal</button> -->
      </div> <!--/share-wrap-->
      {% endfor %}
     
     
    </div>  <!--EndLeftFrameContent -->


    <div class="col-sm-10 text-left"> 
      <h1>Доступные шары</h1>


      <div class="map-containter">
      <!-- Modal List -->
      {% for sup in supplies %}
      <div class="modal fade" id="myModal{{sup.pk}}" role="dialog">

        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="test">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Заголовок</h4>
            </div>
            </div>
            <div class="modal-body">
                <div class="modal-adress">
                  <span class="full-adress">Москва, Кремль, 103073<span>
                  <span class="show-phone"> +7 123 456 78 90</span>
                </div>


                <div class="share-content table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Продукт</th>
                          <th>Вес</th>
                          <th>Годен до</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Xnjnj1</td>
                          <td>100 кг</td>
                          <td>17.12.17 </td>
                        </tr>

                         <tr>
                          <td>2</td>
                          <td>Нефть</td>
                          <td>100 л</td>
                          <td>17.12.17 </td>
                        </tr>

                         <tr>
                          <td>3</td>
                          <td>smth</td>
                          <td>100 л</td>
                          <td>11.11.11 </td>
                        </tr>

                        <tr>
                          <td>4</td>
                          <td>smth else</td>
                          <td>100 шт</td>
                          <td>31.12.99 </td>
                        </tr>

                      </tbody>
                    </table>
                </div>

              
            </div><!--/modal-body-->
            
            <div class="modal-owner">
              <span class="owner-img"> <img src="img/cremlin_ava.png" class="small-ava"> </span>
              <span class="owner-name"> {{sup.source.name}}</span>
              <span class="owner-rate"> 100 %</span>
            </div><!--/modal-body-->

            <div class="modal-footer">
              <a href="{% url 'supply' pk=sup.pk %}">{{ sup.date }}</a>
              <button type="button" class="btn btn-default" data-dismiss="modal"><a href="{% url 'supply' pk=sup.pk %}">Забрать</a></button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
          </div><!--modal content -->
          
        </div>
      </div>
      {% endfor %}
        <div id="map" style="width:100%;height:400px;">
          
        </div>
      </div>

      
    </div>
    


    <!--RightFrameIfNeeded
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    -->

  </div>

 {% for sup in supplies %}
<script>

$(document).ready(function(){
    $("#myBtn{{sup.pk}}").click(
      function(){
        $("#myModal{{sup.pk}}").modal();
    });
});
$(document).ready(function(){
	addMarker({{sup.latitude}}, {{sup.longitude}});
});


</script>

<!--<script src="/static/foodsharing/js/ajax.js"></script>-->

{% endfor %}


{% endblock %}

